<div class="sites-container">
  <div class="site-section">
    <div class="site-header">
      <div class="text">
        <span class="heading"><a class="hide-link" href="https://risecommunityart.com">Rise Community Art Store</a></span>
        <span class="description">Not for profit E-commerce website</span>
      </div>
    </div>
    <div class="site-frame">
      <div class="iframe-wrapper">
        <iframe src="https://risecommunityart.com.au"></iframe>
      </div>
      <div class="product-logos">
        <a href="https://angular.io/"><img src="/assets/product_logos/angular.svg" /></a>
        <a href="https://html.spec.whatwg.org/multipage/"><img src="/assets/product_logos/html5.svg" /></a>
        <a href="https://sass-lang.com/"><img src="/assets/product_logos/sass.svg" /></a>
        <a href="https://snipcart.com/"><img src="/assets/product_logos/snipcart.svg" /></a>
        <a href="https://directus.io/"><img src="/assets/product_logos/directus.svg" /></a>
        <a href="https://azure.microsoft.com/en-us/"><img src="/assets/product_logos/azure.svg" /></a>
      </div>
    </div>
  </div>
  <div class="site-section">
    <div class="site-header">
      <div class="text">
        <span class="heading"><a class="hide-link">Phillogram</a></span>
        <span class="description">Personal photo gallery replacement for <a class="hide-link" href="https://instagram.com">Instagram</a></span>
      </div>
    </div>
    <div class="site-frame">
      <div class="iframe-wrapper">
        <iframe src="https://phillogram.webdevphill.com"></iframe>
      </div>
      <div class="product-logos">
        <a href="https://angular.io/"><img src="/assets/product_logos/angular.svg" /></a>
        <a href="https://html.spec.whatwg.org/multipage/"><img src="/assets/product_logos/html5.svg" /></a>
        <a href="https://sass-lang.com/"><img src="/assets/product_logos/sass.svg" /></a>
        <a href="https://firebase.google.com/"><img src="/assets/product_logos/firebase.svg" /></a>
      </div>
    </div>
  </div>
  <div class="site-section">
    <div class="site-header">
      <div class="text">
        <span class="heading"><a class="hide-link" href="https://borgosity.dev"> Borgosity's Portfolio</a></span>
        <span class="description">Static portfolio website</span>
      </div>
    </div>
    <div class="site-frame">
      <div class="iframe-wrapper">
        <iframe src="https://borgosity.dev"></iframe>
      </div>
      <div class="product-logos">
        <a href="https://html.spec.whatwg.org/multipage/"><img src="/assets/product_logos/html5.svg" /></a>
        <a href="https://www.w3.org/Style/CSS/"><img src="/assets/product_logos/css3.svg" /></a>
        <a href="https://ecma-international.org/ecma-262/10.0/index.html"><img src="/assets/product_logos/javascript.svg" /></a>
      </div>
    </div>
  </div>
</div>
