
// Colors
$color-default: #555;
$color-grey: #767676;
$color-darkgrey: #666;
$color-border: #ddd;
$color-border-logo: #ccc;
$color-link: #1684f0;
$color-background: #fff;
$color-sidebar-text: #777;
$color-widget-background: #f6f6f6;
$color-widget-border: #ccc;
$color-header-background: #f1f1f1;
$color-footer-background: #f1f1f1;
$color-mobile-nav-background: #767676;
$color-twitter: #00aced;
$color-facebook: #3b5998;
$color-pinterest: #cb2027;
$color-google: #dd4b39;

// Fonts
$font-sans: -apple-system, BlinkMacSystemFont,
"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-serif: Georgia, "Times New Roman", serif;
$font-mono: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
$font-icon: FontAwesome;
$font-icon-path: "assets/fonts/fontawesome-webfont";
$font-icon-version: "4.0.3";
$font-size: 14px;
$font-weight: 501;
$line-height: 1.6em;
$line-height-title: 1.1em;
