.header {
  display: flex;
  margin: 10px auto;
  width: 50%;
  justify-content: center;

  .logo {
    width: 30%;
    min-width: 80px;
    max-width: 180px;

    @media screen and (max-width: 350px) {
      min-width: 0px;
    }
  }

  .title {
    margin: 10px;
    font-size: 3rem;
    align-self: center;
    font-family: 'Righteous', cursive;
    color: #666666;
    width: 175px;
    //font-family: 'Bowlby One SC', cursive;
    //font-family: 'Viga', sans-serif;
    //font-family: 'Baloo Bhaina', cursive;
  }

  .left {
    text-align: left;
    margin-left: 0;
  }

  .right {
    text-align: right;
    margin-right: 0;
  }
}




// max width 575
// sites header wrap
// header text wrap
// reduce products top margin
//
