<div class="header">
  <span class="title right">WebDev</span>
  <img class="logo" alt="WebDev Phill Logo" src="/assets/logo/WebDevPhill_Logo.svg">
  <span class="title left">Phill</span>
</div>

<div class="sites-container">
  <div class="sites-header">
    <div class="text">
      <span class="heading">Rise Community Art Store</span>
      <span class="description">E-commerce website</span>
    </div>
  </div>
  <div class="site-frame">
    <div class="iframe-wrapper">
      <iframe src="https://risecommunityart.com.au"></iframe>
    </div>
    <div class="product-logos">
      <img src="/assets/product_logos/angular.svg" />
      <img src="/assets/product_logos/html5.svg" />
      <img src="/assets/product_logos/sass.svg" />
      <img src="/assets/product_logos/snipcart.svg" />
      <img src="/assets/product_logos/directus.svg" />
      <img src="/assets/product_logos/azure.svg" />
    </div>
  </div>
  <div class="sites-header">
    <div class="text">
      <span class="heading">Phillogram</span>
      <span class="description">Photo gallery website with multi-level user access</span>
    </div>
  </div>
  <div class="site-frame">
    <div class="iframe-wrapper">
      <iframe src="https://phillogram.webdevphill.com"></iframe>
    </div>
    <div class="product-logos">
      <img src="/assets/product_logos/angular.svg" />
      <img src="/assets/product_logos/html5.svg" />
      <img src="/assets/product_logos/sass.svg" />
      <img src="/assets/product_logos/firebase.svg" />
    </div>
  </div>
  <div class="sites-header">
    <div class="text">
      <span class="heading">Borgosity's Portfolio</span>
      <span class="description">Simple static portfolio website</span>
    </div>
  </div>
  <div class="site-frame">
    <div class="iframe-wrapper">
      <iframe src="https://borgosity.com"></iframe>
    </div>
    <div class="product-logos">
      <img src="/assets/product_logos/html5.svg" />
      <img src="/assets/product_logos/css3.svg" />
      <img src="/assets/product_logos/javascript.svg" />
    </div>
  </div>
</div>
<router-outlet></router-outlet>
