<div class="header">
  <h1 class="right">WebDev</h1>
  <img alt="WebDev Phill Logo" src="/assets/logo/WebDevPhill_Logo.svg">
  <h1 class="left">Phill</h1>
</div>

<div class="sites-container">
  <div class="iframe-wrapper">
    <iframe src="https://risecommunityart.com.au"></iframe>
  </div>
  <div class="iframe-wrapper">
    <iframe src="https://phillogram.webdevphill.com"></iframe>
  </div>
  <div class="iframe-wrapper">
    <iframe src="https://borgosity.com"></iframe>
  </div>
</div>
<router-outlet></router-outlet>
