@import 'sass/__variables';

@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 501;
  src: url("" + $font-icon-path + ".eot?v=#" + $font-icon-version);
  src: url("" + $font-icon-path + ".eot?#iefix&v=#" + $font-icon-version) format("embedded-opentype"), url("" + $font-icon-path + ".woff?v=#" + $font-icon-version) format("woff"), url("" + $font-icon-path + ".ttf?v=#" + $font-icon-version) format("truetype"), url("" + $font-icon-path + ".svg#fontawesomeregular?v=#" + $font-icon-version) format("svg");
}

body {
  margin: 0;
  background: $color-background;
  font: $font-size $font-sans;
  font-weight: $font-weight;
  -webkit-text-size-adjust: 100%;
}

.outer {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
